.day-temp .am-modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.day-temp .am-modal-content .am-modal-body {
    padding: 0 !important;
}

.temp-item-root {
    flex-direction: row;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
}

.temp-item-child-root {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.temp-item-child-text {
    color: #575757;
}

.temp-item-child-img {
    width: 24px;
    height: 24px;
}