.modal-root .am-modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 !important;
}

.modal-root .am-modal-content .am-modal-body {
    padding: 0 !important;
}

.alert-root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alert-content {
    background-color: white;
    border-radius: 15px;
    justify-content: center;
}

.alert-title {
    text-align: center;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    padding-top: 20px;
}

.alert-message {
    text-align: center;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
    padding: 20px;
}

.alert-text-root {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.alert-text-root-view {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: auto;
    flex: 1;
}

.alert-left-text {
    font-size: 16px;
    color: #939393;
}

.alert-right-text {
    font-size: 16px;
    color: #3cb775;
}

.divder-column {
    background-color: #dddddd;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 50% 100%;
}

.divder-row {
    background-color: #dddddd;
    height: 50px;
    width: 1px;
    transform: scaleX(0.5);
    transform-origin: 100% 50%;
}