.sticky-list .sticky-container .am-list-item {
    padding-left: 0;
}

.sticky-list .sticky-container .am-list-line {
    padding-right: 0;
}

.sticky-list .sticky-container .am-list-line .am-list-content {
    padding-top: 0;
    padding-bottom: 0;
}

.sticky-list .sticky-container .sticky {
    display: flex;
    height: 30px;
    padding-left: 20px;
    align-items: center;
    background-color: #eeeeee;
    font-size: 15px;
    color: #3cb775;
}

.item-root {
    display: flex;
    flex-direction: row;
    padding: 12px;
    align-items: center;
    height: 35px;
}

.item-root:active {
    background-color: #E1E1E1;
}

.item-city-child {
    margin-left: 30px;
    font-size: 16px;
    color: #333333;
}

.item-city-parent {
    margin-left: 25px;
    font-size: 15px;
    color: #999999;
}

.item-city-provcn {
    margin-left: 25px;
    font-size: 13px;
    color: #999999;
}